# Ignore everything inside koa-suite/push/includes/vendor
koa-suite/push/includes/vendor/*

# Do not ignore the vendor/ folder itself
!koa-suite/push/includes/vendor/

# Keep the autoload.php file if needed
!koa-suite/push/includes/vendor/autoload.php